body {
	background: #f2f2f2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#cccccc, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cccccc, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cccccc, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cccccc, #ffffff); /* Standard syntax */
	width: 100%;

}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

h1 {
	color: #261a0d;
}

a {
	color: black;
	text-decoration: none;
}

footer {
	background-color: #ffffff;
	width: 100%;
	text-align: center;
	padding: 20px;

}

.abroad {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 50px
}

.box-one {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
}

.box-two {
	width: 84%;
	margin: 0 auto;
	text-align: center;
	padding: 20px;
}

.box-three {
	text-align: center;
}

.box-four {
	text-align: center;
}

.box-five {
	text-align: center;
}

.img-center {
	display: block;
	margin: auto;
}

.img-profile {
	border-radius: 50%;
	width: 70%;
}

.fa-linkedin {
	padding-right: 30px;
	color: black;
}

.fa-facebook{
	border-radius: 50%;
	width: 5%;
	padding-right: 30px;
	color: black;
}

.fa-instagram {
	border-radius: 50%;
	width: 5%;
	padding-right: 30px;
	color: black;
}

.fa-envelope-o {
	border-radius: 50%;
	width: 5%;
	color: black;
}

.img-ebfa {
	width: 200px;
}

.img-weyler {
	width: 50px;
}

.img-contact{
	width: 20%;
	padding-top: 50px;
}

.text-one {
	font-size: 90%;
	font-style: helvetica;
	text-align: justify;
}

.work-one {
	font-size: 80%;
	font-style: helvetica;
	text-align: justify;
}

.work-two {
	font-size: 80%;
	font-style: helvetica;
	text-align: justify;
}


.head-one {
	font-style: bold;
	font-size: 16px;
}

.small-text {
	font-size: 14px;
	text-align: justify;
}

.dublin.box {
	text-align: center;
}

.montpellier-box {
	text-align: center;
}

.image-size {
	width: 200px;
	margin: 0 auto;
}

.img-size {
	width: 200px;
}

@media only screen and (min-width: 550px) {
	body {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	.wrapper {
		width: 90%;
	}

	footer {
		width: 100%,
	}

	.box-four {
		display: inline-block;
		width: 40%;
		margin: 20px;
		vertical-align: top;
	}

	.box-five {
		display: inline-block;
		width: 40%;
		margin: 20px;
		vertical-align: top;
	}

	.image-size-one {
		height: 50px;
	}

	.section {
		width: 100%;
		text-align: center;
	}

	.berlin-box {
		display: inline-block;
		width: 40%;
		margin: 20px;
		vertical-align: top;
	}

	.montpellier-box {
		display: inline-block;
		width: 40%;
		margin: 20px;
		vertical-align: top;
	}

	.section {
		width: 100%;
		text-align: center;
	}

	.image-size {
		width: 200px;
		margin: 0 auto;
	}

	.img-size {
		width: 200px;
	}

/*	.img-wellington {
		height: 60%;
		width: 60%;
	}*/

}

