body {
	background: #f2f2f2; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#cccccc, #ffffff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cccccc, #ffffff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cccccc, #ffffff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cccccc, #ffffff); /* Standard syntax */
	width: 100%;

}

footer {
	background-color: #ffffff;
	width: 100%;
	text-align: center;
	padding: 20px;

}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.img-montpellier {
	width: 290px;
}

.img-wellington {
	width: 290px;
}

.img-dublin {
	width: 290px;
}

.img-berlin {
	width: 290px;
}

.img-center {
	display: block;
	margin: auto;
}

.head-one {
	font-style: bold;
	font-size: 16px;
}

.small-text {
	font-size: 14px;
	text-align: justify;
}

.dublin.box {
	text-align: center;
}

.montpellier-box {
	text-align: center;
}

@media only screen and (min-width: 550px) {

	body {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}

	.wrapper {
		width: 80%;
	}

	footer {
		width: 100%,
	}

	.berlin-box {
		display: inline-block;
		width: 40%;
		margin: 20px;
		vertical-align: top;
	}

	.montpellier-box {
		display: inline-block;
		width: 40%;
		margin: 20px;
		vertical-align: top;
	}

	.section {
		width: 100%;
		text-align: center;
	}

	.image-size {
		height: 60%;
		width: 60%;
	}

	.img-wellington {
		height: 60%;
		width: 60%;
	}
}
